<div id="main-container" class="container">

  <h1 id="header">
    Edit Distance Calculator
  </h1>

  <div class="main-sub-container">
    <div class="sub-text-container">
      <div class="row" style="padding:0;margin-top:25px">
        <button ng-click="openInfoModal()" class="btn btn-primary btn-transparent">
          Info
        </button>
        <button ng-click="reset()" class="btn btn-primary btn-transparent">
          Reset
        </button>
        </div>
      <div class="row">
        <div class="col-sm-6">
          <input class="form-control form-control-lg" 
                 type="text"
                 ng-model="inputWord1"
                 ng-change="calcEditDist(inputWord1, inputWord2, true);findSimilarWords(inputWord1, matchWords1)"
                 placeholder="Input String #1">

        </div>
        <div class="col-sm-6">
          <input class="form-control form-control-lg" 
                 type="text"
                 ng-model="inputWord2"
                 ng-change="calcEditDist(inputWord1, inputWord2, true);findSimilarWords(inputWord2, matchWords2)"
                 placeholder="Input String #2">
        </div>
      </div>
      <div class="row distancePresenter">
        Edit Distance: <b>{{editDist}}</b> <span ng-hide="inputWord1 === '' || inputWord2 === ''"> (<i>from <b>{{inputWord1}}</b> to <b>{{inputWord2}}</b></i>)</span>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <uib-tabset active="active">
            <uib-tab ng-repeat="word in matchWords1 track by $index" index="$index" heading="{{word.name}}">
              <div class="row def-box">
                <div ng-hide="word.name === ''">
                  Edit Distance: <b>{{word.editDist}}</b> (<i>from <b>{{inputWord1}}</b> to <b>{{word.name}}</b></i>)</span>
                <br /><br />
                {{word.def}}
                </div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
        <div class="col-sm-6">
          <uib-tabset>
            <uib-tab ng-repeat="word in matchWords2 track by $index" index="$index" heading="{{word.name}}">
              <div class="row def-box">
                <div ng-hide="word.name === ''">
                  Edit Distance: <b>{{word.editDist}}</b> (<i>from <b>{{inputWord2}}</b> to <b>{{word.name}}</b></i>)</span>
                <br /><br />
                {{word.def}}
                {{word.def}}
                </div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>
  </div>
</div>

