<div id="main-container" class="container" style="line-height:40%">

  <h1 id="header">
    Levenshtein Distance Calculator
  </h1>

  <div class="main-sub-container">
    <div class="sub-text-container">
      <div class="row">
        <div class="prompt-text" class="col-sm-12">
          Input Two Strings To Compare
        </div>
      </div>
      <div class="row" style="width:100%">
        <div class="col-sm-5 col-sm-offset-1 align-middle">
          <input type="text" class="form-control form-control-lg" 
                             ng-model="string1"
                             placeholder="String #1">

        </div>
        <div class="col-sm-5">
          <input class="form-control form-control-lg" 
                 type="text"
                 ng-model="string2"
                 placeholder="String #2">
        </div>
      </div>
      <div class="row" style="width:100%">
        <div class="col-sm-5 col-sm-offset-1 align-middle">
          <uib-tabset active="active">
            <uib-tab ng-repeat="tab in tabs track by $index" index="$index" heading="tab.title">
              <div class="row" style="width:100%;background-color:white;color:black;height:200px">
                {{tab.content}}
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
        <div class="col-sm-5">
          <uib-tabset active="active">
            <uib-tab ng-repeat="tab in tabs track by $index" index="$index" heading="tab.title">
              <div class="row" style="width:100%;background-color:white;color:black;height:200px;text-align:left;">
                {{tab.content}}
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>
  </div>
</div>

