body {
  background-color: #212121;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

input {
  text-align: center;
}

b {
  width: 100%;
}

#header {
  background-color: #343d46;
  height: 90px;
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border-bottom: 2px solid #a7adba;
}

#main-container {
  background-color: #65737e;
  height: 80%;
  width: 80%;
  margin: 10%;
  line-height: 40%;
  text-align: center;
  border: solid 2px #a7adba;
}

#form-dash {
  margin-top: 11px;
  font-size: 32px;
}

.main-sub-container {
  height: 375px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-text-container {
  height: 375px;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt-text {
  width: 100%;
  font-size: 28px;
}

.number-input {
  width: 160px;
}

.big-button {
  width: 60%;
}

.btn {
  margin: 16px;
}

.container {
  width: 60%;
  padding: 0px;
}

.row {
  width: 100%;
  padding: 2%;
}

.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

