<div id="main-container" class="container" style="line-height:40%">

  <h1 id="header">
    Levenshtein Distance Calculator 
  </h1>

  <div class="main-sub-container">
    <div class="sub-text-container">
      <div class="form-group row">
        <div class="prompt-text" class="col-sm-12">
          Input Two Strings To Compare
        </div>
      </div>
      <div class="row" style="width:100%">
        <div class="row" style="width:50%">
          <div class="col-sm-9" style="width:90%;margin:0 15%">
            <input type="text" class="form-control form-control-lg" 
                              ng-model="string1"
                              ng-change="spellCheck(string1)"
                              placeholder="String #1">
          </div>
          <div class="col-sm-9" style="width:90%;margin:20px 15%">
            Best Guess: 
          </div>
          <div class="col-sm-9" style="width:90%;margin-top:20px;background-color: white; color: black;">
            <div style="margin-top: 20px" ng-repeat="bestMatch in bestMatches">
              {{bestMatch}}
           </div>
          </div>
        </div>
      </div>

 <div  class="col-sm-6">
                <hr/>
        <div class="col-xs-3"> <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-left sideways">
            <li class="active"><a href="#home-v" data-toggle="tab">Home</a></li>
            <li><a href="#profile-v" data-toggle="tab">Profile</a></li>
            <li><a href="#messages-v" data-toggle="tab">Messages</a></li>
            <li><a href="#settings-v" data-toggle="tab">Settings</a></li>
          </ul>
        </div>

        <div class="col-xs-9">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home-v">Home Tab.</div>
            <div class="tab-pane" id="profile-v">Profile Tab.</div>
            <div class="tab-pane" id="messages-v">Messages Tab.</div>
            <div class="tab-pane" id="settings-v">Settings Tab.</div>
          </div>
        </div>

        <div class="clearfix"></div>

      </div>
      <!-- <div class="row" style="width:100%"> -->
      <!--   <div class="col-sm-9" style="width:70%;margin:0 15%"> -->
      <!--     Best Guess: {{bestMatch}} -->
      <!--   </div> -->
      <!-- </div> -->
      <!-- <div class="row" style="width:100%"> -->
      <!--   <div class="col-sm-9" style="width:70%;margin:0 15%"> -->
      <!--     <input type="text" class="form-control form-control-lg" --> 
      <!--                        ng-model="string2" -->
      <!--                        ng-change="calcLevenDist()" -->
      <!--                        placeholder="String #2"> -->
      <!--   </div> -->
      <!-- </div> -->
      <!-- <div class="row" style="width:100%"> -->
      <!--   <div class="col-sm-9" style="width:70%;margin:0 15%"> -->
      <!--     Minimum Edit Distance: {{levenDist}} -->
      <!--   </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
</div>

