body {
  background-color: #212121;
  color: #fdf6e3;
  height: 100vh;
  display: flex;
  align-items: center;
}

.form-control {
  background-color: #eee8d5;
  text-align: center;
}

.container {
  width: 60%;
  padding: 0px;
}

.row {
  width: 100%;
  padding: 2%;
}

#header {
  background-color: #343d46;
  height: 90px;
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border-bottom: 2px solid #a7adba;
}

#main-container {
  background-color: #65737e;
  border: solid 2px #a7adba;
  height: 80%;
  width: 80%;
  margin: 10%;
  line-height: 40%;
  text-align: center;
  overflow: hidden;
}

.main-sub-container {
  height: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sub-text-container {
  height: 375px;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.def-box {
  width: 99.9%;
  height: 36vh;
  background-color: #073642;
  color: #fdf6e3;
  text-align: left;
  margin: 0;
  border: 1px solid #fdf6e3;
  line-height: normal;
  overflow-y: scroll;
  overflow-x: hidden;
}

.distancePresenter {
  font-size:20px;
}

.btn-transparent {
  background-color: Transparent;
  color: #073642;
  font-size: 20px;
  margin-top: -50px;
  border: solid 2px #073642;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: #073642;
  color: #fdf6e3;
}

.uib-tab {
  width: 25%;
}

a.nav-link {
  height: 42px;
}

.nav-tabs>li.active>a, 
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
  background-color: #073642;
  color: #fdf6e3;
}

.nav-tabs>li>a {
  background-color: #fdf6e3;
  color: #073642;
}

.modal-content {
  background-color: #65737e;
  padding: 10%;
}

.modal-button {
  margin-top:15px;
  text-align:center;
}
