<div id="main-container" class="container">

  <h1 id="header">
    Levenshtein Distance Calculator 
  </h1>
  <div>
    <!-- <div class="container" style="width:50%;float:left;background-color:white;"> -->
    <!--   <div class="row"> -->
    <!--     <div class="col-sm-4"> -->
    <!-- <uib-tabset active="activeTab" vertical="true" type="pills"> -->
    <!-- <uib-tab ng-repeat="tab in tabs" heading="{{tab.content}}" ng-click="{{activeTab=tab.index}}"></uib-tab> -->
    <!-- </uib-tabset> -->
    <!--     </div> -->
    <!--     <div class="col-sm-8" style="color:black"> -->
    <!--       {{tabs[activeTab].content}} --> 
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
  <div class="main-sub-container">
    <div class="sub-text-container">
      <div class="form-group row">
        <div class="prompt-text" class="col-sm-12">
          Input Two Strings To Compare
        </div>
      </div>
      <div class="row" style="width:100%">
        <div class="row" style="width:50%">
          <div class="col-sm-9" style="width:90%;margin:0 15%">
            <input type="text" class="form-control form-control-lg" 
            ng-model="string1"
            ng-change="spellCheck(string1)"
            placeholder="String #1">
          </div>
          <div class="col-sm-9" style="width:90%;margin:20px 15%">
            <hr/>
            <div class="col-xs-3"> <!-- required for floating -->
              <!-- Nav tabs -->
              <ul class="nav nav-tabs tabs-left sideways">
                <li><a class="tab" ng-repeat="bestMatch in bestMatches">{{bestMatch}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

